.edgePath {
  stroke: #a0a0a0;
  stroke-width: 2px;
  fill: none;

  transition: stroke 0.3s ease, stroke-width 0.3s ease;
}


.dashed {
  stroke-dasharray: 5, 5;
}


.highlighted {
  stroke: #007bff;
  stroke-width: 4px;
  stroke-dasharray: 8, 8;
  animation: marchingAnts 0.8s linear infinite;
}


@keyframes marchingAnts {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 16;
  }
}