
.mindMapCanvas {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #f9f9f9;
  background-image:
    linear-gradient(rgba(0,0,0,.08) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,.08) 1px, transparent 1px);
  background-size: 20px 20px;
  user-select: none;
}


.mindMapScene {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-origin: 0 0;
  pointer-events: none;
}


/* SVG 和 Node 的容器层 */
.svgLayer,
.nodeLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.svgLayer {
  z-index: 1;
  overflow: visible;
}

.nodeLayer {
  z-index: 2;
  
}

.marqueeBox {
  position: absolute;
  border: 1px solid #007bff;
  background-color: rgba(0, 123, 255, 0.2);
  z-index: 9999;
  pointer-events: none;
}


/* 垂直吸附线 */
.snapLineVertical {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #ff69b4; 
  z-index: 5; 
}

/* 水平吸附线 */
.snapLineHorizontal {
  position: absolute;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #ff69b4;
  z-index: 5;
}
